body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

img {
    width: 100px;
}

.cont {
    background-color: #f08c04;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    margin: 20px;
    border: 1px solid black;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

.subcont {
    padding: 10px;
    width: 200px;
    border: 1px solid #000000;
    border-radius: 3px;
}

#resultado {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e5e5e5;
  }

#creditos {
    margin-top: 9px;
    font-size: 12px;
    color: #888;
}